---
import LayoutLanding from "@/layouts/LayoutLanding.astro";
import Bienvenida from "@/components/Bienvenida.astro";
import Quienes from "@/components/Quienes.astro";
import BannerReservar from "@/components/BannerReservar.astro";
import Slider from "@/components/Slider.astro";
import datos from "@/data/data.json";
import LugaresInteres from "@/components/LugaresInteres.astro";
import Galeria from "@/components/Galeria.astro";
import Descripcion from "@/components/Descripcion.astro";
const data = datos.eng;
const slider = datos.eng.slider;
const bienvenida = datos.eng.bienvenida;
const descripcion = datos.eng.descripcion;
const quienesSomos = datos.eng.quienesSomos;
const bannerTexto = datos.eng.bannerTexto;
const dataLugares = datos.eng.lugaresInteres;
---

<LayoutLanding>
  <Slider {slider} />
  <main>
    <Bienvenida {bienvenida} />
    <Galeria />
    <Descripcion {descripcion} />
    <BannerReservar {bannerTexto} />
    <Quienes {quienesSomos} />
    <LugaresInteres {dataLugares} />
  </main>
</LayoutLanding>
