---
const { dataInstrucciones } = Astro.props;
const { titulo, data, intro, text } = dataInstrucciones;
---

<div class="container">
  <h2 class="title">{titulo}</h2>
  <p class="text">{intro}</p>
  {
    data.map((tip, index) => (
      <div key={index}>
        <div class="instructions">
          <p class="subtitle">{tip.subtitulo}</p>
          <p class="info">{tip.instruccion}</p>
        </div>
      </div>
    ))
  }
  <p set:html={text} class="text" />
</div>

<style>

  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .text {
    margin: 16px 0;
    padding: 0 8px;
    text-align: justify;
  }

  .instructions {
    margin-bottom: 16px;
    padding: 0 8px;
    border-top-width: 1px solid var(--negro);
  }

  .subtitle {
    font-size: 16px;
    font-weight: 600;
  }

  .info {
    font-size: 16px;
  }

</style>