---
import BotonNormal from "@/components/BotonNormal.astro";
const { dataLugares } = Astro.props;
const { titulo, imagenes } = dataLugares;
---

<section class="flex flex-col justify-center items-center mt-4">
  <h2 class="text-2xl font-semibold">{titulo}</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4 pb-4">
    {imagenes.map((imagen, index) => (
      <div key={index} class="max-w-sm bg-white rounded-lg shadow-xl">
        <a href="#" target="_blank">
          <img class="rounded-t-lg" src={imagen.foto} alt="" />
        </a>
        <div class="p-2">
          <a href="#">
            <h5 class="text-lg font-bold tracking-tight text-negro">
              {imagen.titulo}
            </h5>
          </a>
          <p class="mb-2 font-normal text-negro text-xs">
            {imagen.subtitulo}
          </p>

          <BotonNormal enlace={imagen.enlace}>Ver Mas</BotonNormal>
        </div>
      </div>
    ))}
  </div>
</section>
